In [131]:
import pandas as pd

In [77]:
df = pd.read_csv('./file/2023-02-01_2023-02-28.csv')
df = df.iloc[:,0:2]
df

     ga:pagePathLevel1 ga:pagePathLevel2
0              /about/                 /
1            /contact/                 /
2             /events/                 /
3           /listings/                 /
4           /listings/           /000553
...                ...               ...
2313     /อุบลราชธานี/        /listings/
2314     /อุบลราชธานี/        /offering/
2315     /อุบลราชธานี/        /projects/
2316     /อุบลราชธานี/      /โซนในเมือง/
2317     /อุบลราชธานี/   /โซนเมืองศรีไค/

[2318 rows x 2 columns]

In [78]:
df.describe()

       ga:pagePathLevel1 ga:pagePathLevel2
count               2318              2318
unique                17              2284
top           /projects/                 /
freq                1088                12

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2318 entries, 0 to 2317
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ga:pagePathLevel1  2318 non-null   object
 1   ga:pagePathLevel2  2318 non-null   object
dtypes: object(2)
memory usage: 36.3+ KB

In [80]:
df['ga:pagePathLevel2'] = df['ga:pagePathLevel2'].str[1:]

In [81]:
df[df['ga:pagePathLevel2'].str.startswith('66')]

    ga:pagePathLevel1                                  ga:pagePathLevel2
6          /listings/  66446OQP6M17?fbclid=IwAR01bniZS124NQxKbJvAcvZY...
7          /listings/                                       6644EXV2IB17
8          /listings/  6644FL2MTN348?fbclid=IwAR3W0IFoOdlVrkg5TBEOrHq...
9          /listings/                                      6644J1HQS1348
10         /listings/  6644J1HQS1348?fbclid=IwAR0PmFuBigWP7YE7ixEuXmQ...
11         /listings/  6644J1HQS1348?fbclid=IwAR16fmClPiab9uEsBE5jnU4...
12         /listings/  6644J1HQS1348?fbclid=IwAR1aRy6NpBHusYqxSXhvRZW...
13         /listings/  6644J1HQS1348?fbclid=IwAR2SocNAyGunVJmNJqs0349...
14         /listings/  6644J1HQS1348?fbclid=IwAR3MLqRiNTw1NUUkJu1e1VU...
15         /listings/  6644O11TE5348?fbclid=IwAR04moS1EIQPiPn8pn1gYAP...
16         /listings/                                       6644SHTQU013
17         /listings/  6644SHTQU013?fbclid=IwAR2m0RnYMImEF57p09Vi5dkq...
18         /listings/  6644SHTQU013?fbclid=IwAR2Qxg9Vj5QrPFWIpPPwm336...
19         /listings/  6644SHTQU013?fbclid=IwAR3qCI1bX6VkPb_nm9Iw-fAl...
20         /listings/  6645JGDX8S11?fbclid=IwAR2ZcX__BUhbzfKdkt94PAkw...
569        /projects/                                            6644139
570        /projects/                                            6644162
571        /projects/                                            6644300
572        /projects/                                            6644301
573        /projects/                                            6645111

In [102]:
propertyType = {
    "บ้านเดี่ยว": "S",
    "บ้านแฝด": "D",
    "บ้านเเฝด": "D",
    "ทาวน์โฮม": "T",
    "คอนโดมิเนี่ยม": "C",
    "อาคารพาณิชย์": "B",
}
for key,value in propertyType.items():
    df.loc[df['ga:pagePathLevel2'].str.contains(key),'propertyType'] = value

In [122]:
df[df['ga:pagePathLevel2'].str.contains('บ้านเดี่ยว')]

,ga:pagePathLevel1,ga:pagePathLevel2,propertyType
23,/listings/,ขาบบ้านเดี่ยว-2-ชั้น-เนื้อที่-86-ตารางวา-ซอยวั...,S
82,/listings/,ขายที่ดินพร้อมบ้านเดี่ยว-2-หลัง-สวยติดถนนสายวา...,S
83,/listings/,ขายที่ดินพร้อมบ้านเดี่ยวครึ่งปูนครึ่งไม้หลังให...,S
99,/listings/,ขายบ้านเดี่ยว-2-ชั้น-2-ห้องนอน-โครงการเอื้ออาธ...,S
100,/listings/,ขายบ้านเดี่ยว-2-ชั้น-4210-ตารางวา-3-ห้องนอน-โค...,S
...,...,...,...
1850,/story/,แบบบ้าน-รู้จัก-บ้านเดี่ยว/,S
1964,/story/,รวมโครงการบ้านเดี่ยวอุบล-ระดับ-upper-class/,S
2095,/story/,รีวิวโครงการ-greenhouse-โคกกรวด-บ้านเดี่ยวชานเ...,S
2100,/story/,รีวิวบ้านเดี่ยวสุดหรู-grand-บ้านอรุณโฮม-อุบลรา...,S
2264,/story/,โฮมแลนด์-3-พาราไดซ์การ์เด้น-บ้านเดี่ยวกลางสวน-...,S

In [123]:
df[df['ga:pagePathLevel2'].str.contains('บ้านแฝด')]

,ga:pagePathLevel1,ga:pagePathLevel2,propertyType
238,/listings/,ขายบ้านแฝด-2-ชั้น-เนื้อที่-21-ตารางวา-2-ห้องนอ...,D
239,/listings/,ขายบ้านแฝดชั้นเดียว-เนื้อที่-35-ตารางวา-โครงกา...,D
303,/listings/,บ้านแฝดชั้นเดียว-เนื้อที่เริ่มต้น-35-ตารางวา-1...,D
304,/listings/,บ้านแฝดสองชั้น-เนื้อที่เริ่มต้น-452-ตารางวา-15...,D
372,/offering/,เจเจ-ทาวน์-โซนบ้านใหม่-บ้านแฝด-ฟรี-ส่วนลดเงินสด,D
373,/offering/,เจเจ-ทาวน์-โซนบ้านใหม่-บ้านแฝด-ฟรี-ส่วนลดเงินส...,D
374,/offering/,เจเจ-ทาวน์-โซนบ้านใหม่-บ้านแฝด-ฟรี-ส่วนลดเงินส...,D
375,/offering/,เจเจ-ทาวน์-โซนบ้านใหม่-บ้านแฝด-ฟรี-ส่วนลดเงินส...,D
376,/offering/,เจเจ-ทาวน์-โซนบ้านใหม่-บ้านแฝด-ฟรี-ส่วนลดเงินสด/,D
546,/offering/,สุขสมฤทัย-บ้านแฝด-ชั้นเดียว-เฟอร์ฯ-ครบ-จัดเต็ม,D
547,/offering/,สุขสมฤทัย-บ้านแฝด-ชั้นเดียว-เฟอร์ฯ-ครบ-จัดเต็ม...,D
1679,/story/,q-a-อยากรู้ว่า-บ้านแฝดสมัยนี้ดูยังไง-เพราะตัวบ...,D
1835,/story/,บ้านแฝดคืออะไร-ซื้อบ้าน-ต้องรู้/,D
1840,/story/,บ้านราคาไม่เกิน-3-ล้านบาท-บ้านเดี่ยว-บ้านแฝด-ใ...,D

In [124]:
df[df['ga:pagePathLevel2'].str.contains('บ้านเเฝด')]

Empty DataFrame
Columns: [ga:pagePathLevel1, ga:pagePathLevel2, propertyType]
Index: []

In [125]:
df[df['ga:pagePathLevel2'].str.contains('ทาวน์โฮม')]

,ga:pagePathLevel1,ga:pagePathLevel2,propertyType
31,/listings/,ขายทาวน์โฮม-2-ชั้น-โครงการเมโทรทาวน์-เนื้อที่-...,T
32,/listings/,ขายทาวน์โฮม-2-ชั้น-โครงการเมโทรทาวน์-เนื้อที่-...,T
33,/listings/,ขายทาวน์โฮม-2-ชั้น-เนื้อที่-214-ตารางวา-โครงกา...,T
261,/listings/,ทาวน์โฮม2ชั้น-25-ตารางวา-3-ห้องนอน-บ้านราชธานี...,T
262,/listings/,ทาวน์โฮมชั้นเดียว-เซอเคิล-โชคชัย,T
263,/listings/,ทาวน์โฮมชั้นเดียว-เนื้อที่เริ่มต้น-25-ตารางวา-...,T
358,/offering/,sansiri-plc-เมททาวน์-บางนา-ทาวน์โฮม-ไม่ถึง-2-ล้าน,T
760,/projects/,ซันเดย์-ทาวน์โฮม-หนองควาย-เฟส-3/,T
876,/projects/,เดอะ-เฟลกซ์-ทาวน์โฮม/,T
911,/projects/,เดอะโคลเวอร์-ทาวน์โฮม-แอร์พอร์ต/,T
997,/projects/,ทาวน์โฮม-3-ชั้น/,T
1207,/projects/,บุญญาภา-โมเดิร์น-ทาวน์โฮม-2/,T
1238,/projects/,พรีมิโอ-ทาวน์โฮม/,T
1544,/projects/,อรสิริน-6-ทาวน์โฮม/,T
1813,/story/,เทียบทาวน์เฮ้าส์-ทาวน์โฮม-โฮมออฟฟิศ-ต่างกันอย่...,T
1849,/story/,แบบบ้าน-ทาวน์โฮม-เข้าใจ-ก่อนซื้อ/,T
1919,/story/,พาชม-6-โครงการบ้านและทาวน์โฮม-น่าสนใจของเมืองอ...,T
1951,/story/,รวมโครงการ-ทาวน์โฮม-อาคารพาณิชย์-อยู่ก็ได้-ค้า...,B
1952,/story/,รวมโครงการทาวน์โฮม-ทาวน์เฮ้าส์-โฮมออฟฟิศ-ในอุบ...,T
1953,/story/,รวมโครงการทาวน์โฮม-ทาวน์เฮ้าส์-โฮมออฟฟิศ-ในอุบ...,T
1972,/story/,รวมบ้าน-ทาวน์โฮม-โคราช/,T
1986,/story/,รวมโปรโมชั่นบ้านเอาใจแม่-เดือนสิงหาคม-บ้าน-คอน...,T

In [126]:
# print("อาคารพาณิชย์ %s"%(df['ga:pagePathLevel2'].str.contains('อาคารพาณิชย์').values.sum()))
df[df['ga:pagePathLevel2'].str.contains('อาคารพาณิชย์')]

,ga:pagePathLevel1,ga:pagePathLevel2,propertyType
90,/listings/,ขายที่ดินพร้อมอาคารพาณิชย์-4-ชั้น-บนเนื้อที่-3...,B
248,/listings/,ขายและให้เช่า-อาคารพาณิชย์-3-ชั้น-เนื้อที่-67-...,B
251,/listings/,ขายอาคารพาณิชย์-2-ชั้น-เนื้อที่-299-ตารางวา-โค...,B
252,/listings/,ขายอาคารพาณิชย์-2-ชั้น-มือหนึ่ง-ขนาด-40-ตารางว...,B
253,/listings/,ขายอาคารพาณิชย์-2-ชั้นครึ่ง-เนื้อที่-69-ตารางว...,B
254,/listings/,ขายอาคารพาณิชย์-2-ชั้นใหม่-เนื้อที่-23-ตารางวา...,B
255,/listings/,ขายอาคารพาณิชย์-2-ชั้นใหม่-เนื้อที่-23-ตารางวา...,B
256,/listings/,ขายอาคารพาณิชย์-3-ชั้น-พร้อมดาดฟ้า-เนื้อที่-88...,B
257,/listings/,ขายอาคารพาณิชย์-ตรงข้ามเดอะมอลล์-23-ตารางวา-รา...,B
258,/listings/,ขายอาคารพาณิชย์สร้างใหม่-เนื้อที่-23-ตารางวา-2...,B
265,/listings/,ที่ดิน-300-ตารางวา-อาคารพาณิชย์-บ้านหนองหญ้างา...,B
318,/listings/,ให้เช่าอาคารพาณิชย์-3-ชั้นครึ่ง-ห้องคู่-เนื้อท...,B
319,/listings/,อาคารพาณิชย์-2-ชั้น-โครงการบ้านสกุลเงิน-ชยางกู...,B
320,/listings/,อาคารพาณิชย์-2-ชั้น-เนื้อที่-24-ตารางวา-สี่แยก...,B
321,/listings/,อาคารพาณิชย์-25-ชั้น-เนื้อที่เริ่มต้น-21-ตาราง...,B
322,/listings/,อาคารพาณิชย์2ชั้น-21ตารางวา-ทาวน์เรสซิเด้น-โรง...,B
323,/listings/,อาคารพาณิชย์สองชั้น-เนื้อที่เริ่มต้น-19-ตารางว...,B
324,/listings/,อาคารพาณิชย์สองชั้น-เลขที่-1864-205-ตารางวา-โค...,B
551,/offering/,อาคารพาณิชย์-ทองสิริน-โคกสูง-กู้ได้เต็ม,B
1559,/projects/,อาคารพาณิชย์-ปาล์มสปริงส์/,B
1560,/projects/,อาคารพาณิชย์-สิรารมย์-จอหอ-บึงทับช้าง/,B
1716,/story/,ข้อควรรู้-กฎหมาย-อาคารพาณิชย์/,B
1821,/story/,บ้าน-คอนโด-อาคารพาณิชย์-ที่ดิน-มือสอง-ต่ำกว่าล...,B
1822,/story/,บ้าน-คอนโด-อาคารพาณิชย์-มือสอง-ในเมือง-โคราช/,B
1951,/story/,รวมโครงการ-ทาวน์โฮม-อาคารพาณิชย์-อยู่ก็ได้-ค้า...,B
1985,/story/,รวมโปรโมชั่นบ้านอุบลฯ-คอนโด-อาคารพาณิชย์-ลดแรง...,B

In [128]:
df['propertyType'].value_counts()

S    161
B     26
T     21
D     14
Name: propertyType, dtype: int64

In [130]:
df['ga:pagePathLevel1'].value_counts()

/projects/           1088
/story/               611
/listings/            324
/offering/            230
/นครราชสีมา/           16
/เชียงใหม่/            13
/ขอนแก่น/              10
/อุบลราชธานี/           7
/pagead/                5
/กรุงเทพ/               4
/ภูเก็ต/                3
/privacy-policy/        2
/contact/               1
/sales/                 1
/loan-calculator/       1
/events/                1
/about/                 1
Name: ga:pagePathLevel1, dtype: int64